* {
    box-sizing: border-box;
    font-family:"default";
}

body {
    position: absolute;
    background-color:#f4f4f4;
    color: #555;
    font-size: 1.2rem;
    line-height: 1.7em;
    margin:0;
}

#showcase h1 {
    margin-top:0;
}

@font-face {
    font-family:"default";
    src:url("text/Sansation_Light.ttf");
}

@font-face {
    font-family:"default";
    src:url("text/Sansation_Bold.ttf");
    font-weight:bold;
}

@font-face {
    font-family:"default";
    src:url("text/Sansation_Italic.ttf");
    font-style:italic;
}

.container {
    position: relative;
    width: 80%;
    margin:inherit; /* Margin inherited from parent element */
    margin:auto; /* takes width and remaining space is split between left and right margins */
    overflow:hidden;
}

.art-container {
    display:grid;
    grid-template-columns:1fr 1fr 1fr; /* Grid is split into 3 parts (fraction units) */
    grid-template-columns:repeat(3, 1fr); /* 1st param is # of rows/columns. 2nd param is for each block */
    grid-template-rows:repeat(4, 1fr);
    grid-template:repeat(3,1fr) / repeat(4,1fr); /* Row / column */
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: min-content;
    grid-auto-flow:row; /* Fills by going left to right for each row*/
    grid-auto-flow:dense; /* tries to fill every spot */
    grid-gap:10px;
    width:80%;
    margin:inherit; 
    margin:auto;
}

.main-header {
    background-color:rgba(30, 6, 61, 0.692);
    color:#fff;
}

.large {
    grid-column:auto/span 2; /* or... */
    grid-column:span 2;
}

.navbar {
    width: 100%;
    z-index: 3;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    top: 0;
    position: sticky;
    background-color:rgb(41, 41, 41);
    height:50px;
}

.menu-icon {
    display: none;
}

.navbar .grid-section .grid-item {
    display: inline;
}

.navbar .grid-section .grid-item:active {
    background: rgb(99, 99, 99);
}

.navbar .grid-section .grid-item:hover {
    background: rgb(32, 32, 32);
}

.navbar .navbar-link {
    color:#fff;
    text-decoration:none;
    font-size:18px;
    padding: 0 20px;
    border-right: 3px solid rgb(68, 68, 68);
}

.navbar-link i {
    padding-right: 10px;
}

.sidemenu {
    display: none;
}

.sidemenu .grid-section {
    display: grid;
    grid-template-rows: repeat(auto, minmax(2rem, 1fr));
}

.sidemenu .grid-item {
    border-bottom: 3px solid rgb(68, 68, 68);
}

.sidemenu .navbar-link {
    color: white;
    padding: 25px;
    font-size: 1.1rem;
    display: block;
}

.sidemenu .navbar-link i {
    padding-right: 9px;
}

.sidemenu .grid-section .grid-item:active {
    background: rgb(32, 32, 32);
}

.sidemenu .grid-section .grid-item:hover {
    background: rgb(88, 88, 88);
}

#showcase {
    background-image: url("images/showcase.png");
    background-size:cover;
    background-position:48% 38%;
    background-repeat: no-repeat;
    min-height:200px; /* img height grows as text grows (like if screen is smaller) */
    max-height:300px;
    margin-bottom:30px;
}

/* for future reference */
#featured { 
    background-image:url("images/me.png");
    background-position:cover;
    background-size:cover; /* padding adds to height and width!!!! */
    width:5%; /* padding is dependent on width of the element when defined in % */
    padding:19% 16%; /* padding should be 20% of the width of the containing element */
    height:0;   /* Height is 0 so the height is produced by the padding */
    background-repeat:no-repeat;
    border:rgba(51, 23, 88, 0.692) solid 5px;
}

.art {
    display:inline;
    /* This edit would make pic take up whole cell of parent element */
    /*width:100%;
    height:100%;
    object-fit: cover;*/
    /* end of edit */
    max-width:100%;
    margin:5px;
    margin-bottom:0;
    border:rgba(51, 23, 88, 0.692) solid 5px;
    box-sizing:border-box;
    padding:0;
}

.art:hover { 
    transform:scale(2);
}

#showcase h1 {
    text-align:center;
    color:#fff;
    font-size:50px;
    line-height:1.6em;
    padding-top:100px;
}

#main {
    float:left;
    width:70%;
    padding:0 30px;
    box-sizing:border-box;
}

.sidebar {
    float:right;
    width:30%;
    background:#333;
    color:#fff;
    padding:20px;
    box-sizing:border-box;
}

.me { 
    width:60%;
}

.sidebar p a {
    color:white;
    font-weight:bold;
    font-size:100%;
}

.sidebar p a:hover {
    text-decoration:underline;
}

.sidebar a.links {
    color:white;
    font-weight:bold;
    font-size:150%;
    display:block;
    margin:20px 50px;
}

#main-footer {
    background:#333;
    color:#fff;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

a {
    text-decoration:none;
    color:rgba(112, 27, 223, 0.692);
}

a:hover {
    text-decoration:underline;
}

.art-container p {
    margin-top:0;
    background-color:#333;
    color:white;
    padding:10px;
}

.info {
    border-radius: 10px;
    padding:25px 40px;
    background-color: rgba(30, 6, 61, 0.692);
    color:white;
}

.info li a {
    color:white;
}

#showcase .mobile { /* As a default, display in desktop view */
    display:none;
}

@media(max-width:700px) { /* At or under 500 pixels then these properties will change */
    #main {
        width:100%;
        float:none;
    }

    .sidebar {
        width:100%;
        float:none;
    }

    #showcase {
        height: 200px;
        background-position:48% 35%;
        background-size:1485px 1250px;
    }

    #showcase .mobile { /* If screen is small enough, show mobile view */
        display:block;
    }

    #showcase .desktop { /* Disable desktop view */
        display:none;
    }
    
    .navbar .grid-section {
        display: none;
    }

    .menu-icon {
        display: inline-block;
        margin: 9px 15px auto auto;
    }

    .sidemenu {
        display: block;
        z-index: 4;
        position: fixed;
        top: 50px;
        right: -170px;
        opacity: 0;
        width: 170px;
        height: 100%;
        background: rgb(71, 71, 71);
        box-shadow: -10px 0 20px rgba(0, 0, 0, 0.25);
        transition: right 0.5s, opacity 0.5s;
    }
    
    .sidemenu-open {
        right: 0;
        opacity: 1;
    }
}

@media screen and (max-width:400px) { /* Media query. if parenthesis item is true, this css will be added... */

}

@media screen and (min-width:800px) and (max-width:1000px) { /* Multiple conditions */
    /* min-width applies at or over */
}